@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf");
}
:root{
    --backColor:rgb(227 227 227);
    --header-color:#7fff00;
}
body{
    font-family: "Raleway";
    background-color: var(--backColor);
}
.each-row{/* for every row expect the header row */
    line-height: 30px;
    margin: 5px 0px;
    background-color: white;
}
.title{ /* each cell of a single row */
    text-align: center;
    padding: 0px 40px;
}
.header{/* for each cell of header row */
    text-transform: uppercase;
    line-height: 40px;
    background-color: var(--header-color);
}