@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf");
}
:root{
    --backColor:rgb(227 227 227);
    --header-color:#7fff00;
}
body{
    font-family: "Raleway";
    background-color: var(--backColor);
}
.each-row{/* for every row expect the header row */
    line-height: 30px;
    margin: 5px 0px;
    background-color: white;
}
.title{ /* each cell of a single row */
    text-align: center;
}
.title:nth-child(4){ /* 4th no of cell */
    width: 50%;
    padding: 0px 5%;
    margin: 0px -5%;
}
.title:nth-child(3){ /* 3rd no of cell */
    width: 30%;
}
.title:nth-child(2){ /* 2nd no of cell */
    width: 10%;
}
.title:nth-child(1){ /* 1st no of cell */
    width: 10%;
}
.header{/* for each cell of header row */
    text-transform: uppercase;
    line-height: 40px;
    background-color: var(--header-color);
}